<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8">
	<meta name="anguard" content="width=device-width, initial-scale=1">
	<title>вход</title>
</head>
<body>
    <h1>вход в системку</h1>
    
    {% if error %}
        <p style="color: rgb(21, 0, 71);">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label>логин:</label><br>
        <input type="text" name="username" required><br><br>
        
        <label>пароль:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit">войти</button>
    </form>
    <li>логин - kid, пароль - 12345lol</li>
</body>
</html>